<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .sidebar {
        /* height: 100vh; */
        background-color: #f5f4fe;
        /* box-shadow: 0 4px  8px rgba(0, 0, 0, 0.1); */
      }
      .sidebar .nav-link {
        color: #333;
      }
      .sidebar .nav-link:hover {
        background-color: #ff6e40;
      }
      #container-fluid{
        background-color: #f5f4fe;
      }
  </style>
</head>
<body>
  <div class="col-md-2 sidebar p-3">
    <nav class="nav flex-column">
      <a class="nav-link active" href="#">Dashboard</a>
      <a class="nav-link" href="#">Orders</a>
      <a
        class="nav-link"
        href="#"
        data-bs-toggle="collapse" 
        data-bs-target="#productsSubmenu"
        aria-expanded="false"
        aria-controls="productsSubmenu"
      >
        Products
      </a>
      <div class="collapse" id="productsSubmenu">
        <ul class="nav flex-column ms-3">
          <li><a class="nav-link" href="/api/v1/products/products/">Add Product</a></li>
          <li><a class="nav-link" href="/api/v1/products/product/all-product">Get Product (Individual)</a></li>
        </ul>
      </div>
      <a class="nav-link" href="#">Invoices</a>
      <h6 class="mt-4 text-uppercase text-muted">Apps</h6>
      <a class="nav-link" href="#">Chats</a>
      <a class="nav-link" href="#">Email</a>
      <a class="nav-link" href="#">Todo App</a>
    </nav>
  </div>
</body>
</html>